<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Secretary View</title>
</head>
<body>
<form th:action="@{/logout}" method="GET">
    <button name="logoutBtn"  type="submit" class="btn btn-success">LogOut</button>
</form>
<div>
    <span style="color:#FF0000;" th:text="${errorMessage3}"></span>
</div>
<div>
    <form th:action="@{/secretary}" method="GET">
        <button name="adminBtn"  type="submit" class="btn btn-success">Admin View</button>
    </form>
    <form th:action="@{/secretary}" method="GET">
        <button name="doctorBtn"  type="submit" class="btn btn-success">Doctor View</button>
    </form>
    <form th:action="@{/secretary}" method="GET">
        <button name="consultationBtn"  type="submit" class="btn btn-success">Consultation View</button>
    </form>
</div>
<form th:action="@{/secretary}" th:object="${patient}" method="POST">
    <div>ID  <input name="id" th:field="*{id}"  type="number"  value="0" /></div>
    <div>Name  <input name="user" th:field="*{name}"  type="text" /></div>
    <div>Identity Card Number  <input name="pass" th:field="*{idCardNumber}"  type="text" /></div>
    <div>Personal Numerical Code  <input name="role" th:field="*{personalNumericalCode}"  type="text" /></div>
    <div>Date of Birth  <input name="price" th:field="*{dateOfBirth}"  type="text" /></div>
    <div>Address  <input name="role" th:field="*{address}"  type="text"/></div>
    <div>
        <button name="addPatient"  type="submit" class="btn btn-success">Add patient</button>
        <button name="updateBtn"  type="submit" class="btn btn-success">Update</button>
        <button name="deleteBtn"  type="submit" class="btn btn-success">Delete</button>
    </div>
</form>
<div>
    <table>
        <tr>
            <td >ID</td>
            <td >Name</td>
            <td>Identity Card Number</td>
            <td>Personal Numerical Code</td>
            <td >Date of Birth</td>
            <td>Address</td>
        </tr>
        <tbody>
        <tr th:each="patient2 : ${ patientList }">
            <td th:text="${ patient2.id }">ID</td>
            <td th:text="${ patient2.name }">Name</td>
            <td th:text="${ patient2.idCardNumber}">Identity Card Number</td>
            <td th:text="${ patient2.personalNumericalCode }">Personal Numerical Code</td>
            <td th:text="${ patient2.dateOfBirth }">Date of Birth</td>
            <td th:text="${ patient2.address}">Address</td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>